.contact-page {
    justify-items: center;
    font-family: "Work Sans", sans-serif;
}

.img-and-contact {
    align-items: center;
    display: grid;
    grid-auto-flow: column; /* Sắp xếp tự động theo cột (ngang) */
    column-gap: 48px; /* Khoảng cách giữa các item */
}

.contact-page-title, .contact-page-main-title {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-page-main-title {
    font-size: 30px;
    margin-top: 67px;
    margin-bottom: 90px;
}

.contact-page-title {
    font-size: 24px;
}

.contact-image {
    height: 560px;
    width: 560px;
}

.multiline-text {
    line-height: 1.8;
    margin-top: 20px;
    margin-bottom: 20px;
}
