.home-page {
    font-family: "Work Sans", sans-serif;
    text-align: center; /* Căn giữa theo chiều ngang */
}

.home-page .image {
    width: 95vw;
    margin: 26px;
}

.home-page .title {
    text-transform: none;
    font-size: 40px;
    font-weight: 500;
    margin-top: 115px;
}

.home-page .section-description {
    font-size: 18px;
    margin: 10px;
    line-height: 27px;
}

.home-page .specialty-list {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    justify-self: center;
    margin-top: 62px;
}

.home-page .specialty {
    display: flex;
    flex-direction: column; /* Sắp xếp theo chiều dọc */
    align-items: center;
    text-decoration: none;
}

.home-page .specialty-name {
    font-size: 18px;
    color: #4B5563;
    margin-top: 15px;
}

.home-page .specialty-image{
    width: 100px;
}

.home-page .top-doctors-list {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5 cột có chiều rộng bằng nhau */
    margin: 40px 0px;
    width: 95vw;
    gap: 25px; /* Khoảng cách giữa các phần tử */
    max-height: calc(2 * 410px); /*385px chiều cao mỗi item + 25px gap */
}