.home-page {
    padding: 20px 20px;
    font-family: "Work Sans", sans-serif;
    text-align: center;
}

.home-page .image {
    width: 95vw;
    margin: 26px;
}

.home-page .home-page-title {
    text-transform: none;
    font-size: 40px;
    font-weight: 500;
}

.home-page .section-description {
    font-size: 18px;
    margin: 10px;
    line-height: 27px;
}

.home-page .specialty-list {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    justify-self:flex-start;
    padding: 100px 150px;
}

.home-page .specialty {
    cursor: pointer;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-decoration: none;
}

.home-page .specialty-name {
    font-size: 18px;
    color: #4B5563;
    margin-top: 10px;
    white-space: nowrap;
}

.home-page .specialty-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.top-doctor-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    max-height: 800px;
    overflow: hidden;
    padding: 10px;
}
