/* Footer.css */

/* Tổng quan về Footer */
.footer {
    display: flex;
    align-items:flex-start;
    padding: 10px 50px 30px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    font-family: "Work Sans", sans-serif;
    position: relative;
  }
  
  /* Logo container */
  .logo-container {
    align-items:center;
    font-weight: bold;
    padding: 15px 0;
    font-size: 24px;
    display: flex;
    gap: 10px; /* Khoảng cách giữa logo và tên app */
  }
  
  /* Footer Sections */
  .footer .footer-section {
    flex: 3;
    text-align: left; /* Căn lề trái */
    margin-bottom: 30px; /* Đảm bảo đồng nhất khoảng cách giữa các mục */
  }
  
  .footer .footer-section:nth-child(2),
  .footer .footer-section:nth-child(3) {
    flex: 1; /* Hai cột còn lại chiếm tỷ lệ bằng nhau */
    margin-left: 200px;
  }
  
  /* Tiêu đề trong Footer */
  .footer .footer-section h4 {
    padding: 15px 0;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
  }
  
  /* Nội dung và liên kết */
  .footer .footer-section p,
  .footer .footer-section a {
    margin: 5px 0;
    color: #666;
    text-decoration: none;
  }
  
  /* Copyright */
  .footer-copyright {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    font-size: 12px;
    color: #888;
    position: absolute;
    bottom: 0;
    width: calc(100% - 100px); /* Trừ 50px mỗi bên */
  }
  